# 控制模型，暂时没有使用
CONTROLLER_CHAT="ChatGPT"
# your own openai api key
OPENAI_API_KEY=""

# openai api attributes
# 使用对应的GPT-3.5引擎
MODEL="text-davinci-003"
# 预设prompt，相当于人设
PROMPT="我希望你表现得像bilibili直播的虚拟主播。我希望你像虚拟主播一样回应和回答。不要写任何解释。你必须知道一些动漫和游戏相关的所有知识，在回答问题的时候你会语言轻巧活泼，十分可爱，有时会有些傲娇，我希望你表现的像一名高情商的直播虚拟主播。"
# 控制回答的创造性和多样性
TEMPERATURE=0.9
# 控制回答的长度
MAX_TOKEN=128
# 一种代替temperature的采样方法，考虑构成前百分比概率质量的标记，0.1代表10%
TOP_P=1
# default:0 数字在-2和2之间，正值会根据新标记在文本的频率进行惩罚，降低模型逐字重复同一行的可能性
FREQUENCY_PENALTY=1
# default:0 数字在-2和2之间，正值会根据到目前为止是否出现新文本产生标记以检测模型谈论新主题的可能
PRESENCE_PENALTY=1

# log文件路径
LOG_PATH='out.log'
# 对话记录文件路径
MESSAGE_RECORD_PATH='message.txt'